/* -----------------------------------------------------------------------------
 *
 * Component: Block: Hero Split Interactions
 *
 * ----------------------------------------------------------------------------- */

.an-was-on-viewport .b-herosplit__content {
	animation: var(--an-slide-up-slow);
}
