---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/organisms/hero/Hero.astro';
import type { NavItem } from '../data/NavigationData';

const breadcrumbs: NavItem[] = [
  { text: 'Home', href: '/' },
  { text: 'Biaya Kuliah', href: '/biaya-kuliah' },
];

const pageContent = await Astro.glob('../data/facts/struktur-biaya-kuliah.md');
const { Content } = pageContent[0];
---

<Layout title="Biaya Kuliah - STIE Dwimulya" breadcrumbs={breadcrumbs}>
  <Hero
    title="Struktur Biaya Kuliah"
    subtitle="Informasi transparan mengenai investasi pendidikan Anda di STIE Dwimulya."
    backgroundImage="https://images.pexels.com/photos/340152/pexels-photo-340152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  />

  <section class="section">
    <div class="container mx-auto px-4 py-8 max-w-3xl prose">
      <Content />
    </div>
  </section>
</Layout>
