/* -----------------------------------------------------------------------------
 *
 * Component: Block: Hero interactions
 *
 * ----------------------------------------------------------------------------- */

.b-hero__content-container {
    animation: var(--an-slide-up);
}

.b-hero .c-content-block__leadin {
    opacity: 0;
    animation: var(--an-slide-up);
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.b-hero.t-theme--light .a-btn:hover  {
	color: var(--color-ink);
}
