/* -----------------------------------------------------------------------------
 *
 * Header: Secondary Subheader Interactions
 *
 * ----------------------------------------------------------------------------- */

 .c-secondary-subheader__title {
    animation: var(--an-slide-up-slow);

}
.c-secondary-subheader__column-right {
    opacity: 0;
  	animation: var(--an-slide-up-slow);
    animation-delay: .5s;
    animation-fill-mode: forwards;
}
