.hbs-section-header {
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px;
  margin-right: -8px;
  width: calc(100% + 16px);
}
@media (min-width: 600px) {
  .hbs-section-header {
    margin-left: -1vw;
    margin-right: -1vw;
    width: calc(100% + 2vw);
  }
}
.hbs-section-header .hbs-section-header-inner {
  align-items: flex-end;
  display: grid;
  width: 100%;
}
.hbs-section-header
  .hbs-section-header-inner
  .hbs-section-header__hgroup
  .hbs-section-header__subtitle,
.hbs-section-header
  .hbs-section-header-inner
  .hbs-section-header__hgroup
  .hbs-section-header__title {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  font-size: 31.99px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.03em;
  transform: translateX(-0.06em);
  grid-column: 1;
  margin: 0;
  max-width: 13em;
}
@media (min-width: 600px) {
  .hbs-section-header
    .hbs-section-header-inner
    .hbs-section-header__hgroup
    .hbs-section-header__subtitle,
  .hbs-section-header
    .hbs-section-header-inner
    .hbs-section-header__hgroup
    .hbs-section-header__title {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
@media screen and (min-width: 300px) and (max-width: 1340px) {
  .hbs-section-header
    .hbs-section-header-inner
    .hbs-section-header__hgroup
    .hbs-section-header__subtitle,
  .hbs-section-header
    .hbs-section-header-inner
    .hbs-section-header__hgroup
    .hbs-section-header__title {
    font-size: calc(31.99px + 31.97 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1340px) {
  .hbs-section-header
    .hbs-section-header-inner
    .hbs-section-header__hgroup
    .hbs-section-header__subtitle,
  .hbs-section-header
    .hbs-section-header-inner
    .hbs-section-header__hgroup
    .hbs-section-header__title {
    font-size: 63.96px;
  }
}
@media (min-width: 1200px) {
  .hbs-section-header
    .hbs-section-header-inner
    .hbs-section-header__hgroup
    .hbs-section-header__subtitle,
  .hbs-section-header
    .hbs-section-header-inner
    .hbs-section-header__hgroup
    .hbs-section-header__title {
    margin-right: auto;
  }
}
.hbs-section-header
  .hbs-section-header-inner
  .hbs-section-header__hgroup
  .hbs-section-header__subtitle {
  color: var(--c-text-lighter);
}
.hbs-section-header
  .hbs-section-header-inner
  .hbs-section-header__hgroup.hbs-section-header__hgroup--long
  .hbs-section-header__subtitle,
.hbs-section-header
  .hbs-section-header-inner
  .hbs-section-header__hgroup.hbs-section-header__hgroup--long
  .hbs-section-header__title {
  font-size: 24px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 600;
  line-height: 1.05;
  letter-spacing: -0.035em;
  transform: translateX(-0.06em);
  max-width: none;
}
@media screen and (min-width: 300px) and (max-width: 1340px) {
  .hbs-section-header
    .hbs-section-header-inner
    .hbs-section-header__hgroup.hbs-section-header__hgroup--long
    .hbs-section-header__subtitle,
  .hbs-section-header
    .hbs-section-header-inner
    .hbs-section-header__hgroup.hbs-section-header__hgroup--long
    .hbs-section-header__title {
    font-size: calc(24px + 21 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1340px) {
  .hbs-section-header
    .hbs-section-header-inner
    .hbs-section-header__hgroup.hbs-section-header__hgroup--long
    .hbs-section-header__subtitle,
  .hbs-section-header
    .hbs-section-header-inner
    .hbs-section-header__hgroup.hbs-section-header__hgroup--long
    .hbs-section-header__title {
    font-size: 45px;
  }
}
@media (min-width: 1200px) {
  .hbs-section-header .hbs-section-header-inner {
    grid-template-columns: 10fr 6fr;
  }
}
@media (min-width: 1340px) {
  .hbs-section-header .hbs-section-header-inner {
    grid-template-columns: 11fr 5fr;
  }
}
.hbs-section-header .hbs-section-header-inner .hbs-section-header__dek {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  font-size: 16px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin-top: 18px;
  max-width: 28em;
}
@media (min-width: 600px) {
  .hbs-section-header .hbs-section-header-inner .hbs-section-header__dek {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
.hbs-section-header
  .hbs-section-header-inner
  .hbs-section-header__dek
  .hbs-cta-link {
  display: flex;
  margin-top: 12px;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 1200px) {
  .hbs-section-header .hbs-section-header-inner .hbs-section-header__dek {
    margin: 0;
    grid-column: 2;
  }
  .hbs-section-header
    .hbs-section-header-inner
    .hbs-section-header__dek.hbs-section-header__dek--no-desc,
  .hbs-section-header
    .hbs-section-header-inner
    .hbs-section-header__dek.hbs-section-header__dek--no-desc
    .hbs-cta-link {
    margin-left: auto;
  }
}
/*# sourceMappingURL=117e669fa7ddbf61.css.map*/
