.hbs-program-comparison-tray {
  padding: 0 !important;
}
.hbs-program-comparison-tray__fab {
  position: fixed;
  right: 18px;
  bottom: 18px;
  height: 55px;
  width: 55px;
  background-color: var(--c-spot);
  border-radius: 100px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.25);
  color: var(--c-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  opacity: 1;
}
.hbs-program-comparison-tray__fab:focus-visible {
  outline-offset: 3px;
}
.hbs-program-comparison-tray__fab:hover
  .hbs-program-comparison-tray__fab-icon
  .left-arrow {
  transform: translateX(5%);
}
.hbs-program-comparison-tray__fab:hover
  .hbs-program-comparison-tray__fab-icon
  .right-arrow {
  transform: translateX(-5%);
}
.hbs-program-comparison-tray__fab--hidden {
  visibility: hidden;
  opacity: 0;
}
.hbs-program-comparison-tray__fab-icon {
  height: 50%;
  width: 50%;
}
.hbs-program-comparison-tray__fab-icon .left-arrow,
.hbs-program-comparison-tray__fab-icon .right-arrow,
.hbs-program-comparison-tray__inner {
  transition: 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}
.hbs-program-comparison-tray__inner {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: var(--c-bg-complementary);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.05);
  width: 100%;
  z-index: 20;
  padding: 48px 8px 18px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .hbs-program-comparison-tray__inner {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
.hbs-program-comparison-tray--online .hbs-program-comparison-tray__inner {
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
}
@media (min-width: 1024px) {
  .hbs-program-comparison-tray__inner {
    flex-direction: row;
    padding-top: 18px;
    align-items: flex-end;
  }
}
.hbs-program-comparison-tray__inner--hidden {
  transform: translateY(100%);
  visibility: hidden;
}
.hbs-program-comparison-tray__hide {
  font-size: 14px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
  transform: none;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
}
.hbs-program-comparison-tray__hide b,
.hbs-program-comparison-tray__hide strong {
  font-weight: 600;
}
.hbs-program-comparison-tray__hide .hbs-icon {
  height: 13px;
  width: 13px;
  margin-left: 8px;
}
@media (min-width: 1024px) {
  .hbs-program-comparison-tray__hide {
    position: absolute;
    top: 18px;
    right: 2vw;
  }
}
.hbs-program-comparison-tray__track {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  position: relative;
}
@media (min-width: 600px) {
  .hbs-program-comparison-tray__track {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
@media (min-width: 1024px) {
  .hbs-program-comparison-tray__track {
    width: 75%;
  }
}
.hbs-program-comparison-tray__track:after {
  content: "";
  position: absolute;
  top: 0;
  right: 8px;
  width: 8px;
  height: 100%;
  background: linear-gradient(to left, var(--c-bg-complementary), transparent);
  z-index: 1000;
}
@media (min-width: 600px) {
  .hbs-program-comparison-tray__track:after {
    right: 1vw;
    width: 1vw;
  }
}
.hbs-program-comparison-tray__list {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-right: 8px;
}
@media (min-width: 600px) {
  .hbs-program-comparison-tray__list {
    padding-right: 1vw;
  }
}
.hbs-program-comparison-tray__list::-webkit-scrollbar {
  display: none;
}
.hbs-program-comparison-tray__item {
  padding: 12px 36px 12px 12px;
  width: 160px;
  min-width: 160px;
  min-height: 6em;
  position: relative;
  background-color: var(--c-bg);
  display: flex;
  align-items: flex-end;
}
@media (min-width: 1024px) {
  .hbs-program-comparison-tray__item {
    width: 200px;
    min-width: 200px;
    height: 8em;
  }
}
.hbs-program-comparison-tray__item-title {
  font-size: 16px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.01em;
  transform: none;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
}
@media (min-width: 1024px) {
  .hbs-program-comparison-tray__item-title {
    font-size: 16px;
    font-family: Graphik, sans-serif, system-ui;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: -0.01em;
    transform: none;
    line-height: 1.2;
  }
}
.hbs-program-comparison-tray__remove {
  height: 13px;
  width: 13px;
  position: absolute;
  top: 12px;
  right: 12px;
  transition: 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}
.hbs-program-comparison-tray__remove .hbs-icon {
  margin-top: -18px;
}
.hbs-program-comparison-tray__remove:hover {
  color: rgba(0, 0, 0, 0.34);
}
.hbs-program-comparison-tray__actions {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}
@media (min-width: 600px) {
  .hbs-program-comparison-tray__actions {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
@media (min-width: 1024px) {
  .hbs-program-comparison-tray__actions {
    width: 18.75%;
    margin-left: 6.25%;
  }
}
.hbs-program-comparison-tray__compare {
  justify-content: center;
}
.hbs-program-comparison-tray__compare--disabled {
  background-color: var(--c-bg);
  color: var(--c-text-lighter);
  pointer-events: none;
}
.hbs-program-comparison-tray__download {
  justify-content: center;
}
/*# sourceMappingURL=5e3b833da08c8bde.css.map*/
