.hbs-hierarchical-tease {
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px;
  margin-right: -8px;
  width: calc(100% + 16px);
}
@media (min-width: 600px) {
  .hbs-hierarchical-tease {
    margin-left: -1vw;
    margin-right: -1vw;
    width: calc(100% + 2vw);
  }
}
.hbs-hierarchical-tease .hbs-hierarchical-tease__articles,
.hbs-hierarchical-tease .hbs-hierarchical-tease__content {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  width: auto;
}
@media (min-width: 600px) {
  .hbs-hierarchical-tease .hbs-hierarchical-tease__articles,
  .hbs-hierarchical-tease .hbs-hierarchical-tease__content {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
.hbs-hierarchical-tease .hbs-hierarchical-tease__content {
  margin-bottom: 18px;
}
.hbs-hierarchical-tease .hbs-hierarchical-tease__overline,
.hbs-hierarchical-tease .hbs-hierarchical-tease__subheading {
  font-size: 16px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.01em;
}
.hbs-hierarchical-tease .hbs-hierarchical-tease__overline {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 8px;
}
@media (min-width: 1200px) {
  .hbs-hierarchical-tease .hbs-hierarchical-tease__overline {
    margin-bottom: 18px;
  }
}
.hbs-hierarchical-tease .hbs-hierarchical-tease__title {
  font-size: 45px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.03em;
  transform: translateX(-0.06em);
  margin-top: 0;
  margin-bottom: 18px;
}
@media screen and (min-width: 300px) and (max-width: 1340px) {
  .hbs-hierarchical-tease .hbs-hierarchical-tease__title {
    font-size: calc(45px + 45.4 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1340px) {
  .hbs-hierarchical-tease .hbs-hierarchical-tease__title {
    font-size: 90.4px;
  }
}
@media (min-width: 800px) {
  .hbs-hierarchical-tease
    .hbs-hierarchical-tease__title.hbs-hierarchical-tease__title--long {
    font-size: 20px;
    font-family: Graphik, sans-serif, system-ui;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.03em;
  }
}
@media screen and (min-width: 800px) and (min-width: 300px) and (max-width: 1340px) {
  .hbs-hierarchical-tease
    .hbs-hierarchical-tease__title.hbs-hierarchical-tease__title--long {
    font-size: calc(20px + 11.99 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 800px) and (min-width: 1340px) {
  .hbs-hierarchical-tease
    .hbs-hierarchical-tease__title.hbs-hierarchical-tease__title--long {
    font-size: 31.99px;
  }
}
@media (min-width: 600px) {
  .hbs-hierarchical-tease
    .hbs-hierarchical-tease__title.hbs-hierarchical-tease__title--short {
    font-size: 45px;
    font-family: Graphik, sans-serif, system-ui;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.03em;
    transform: translateX(-0.06em);
  }
}
@media screen and (min-width: 600px) and (min-width: 300px) and (max-width: 1340px) {
  .hbs-hierarchical-tease
    .hbs-hierarchical-tease__title.hbs-hierarchical-tease__title--short {
    font-size: calc(45px + 45.4 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 600px) and (min-width: 1340px) {
  .hbs-hierarchical-tease
    .hbs-hierarchical-tease__title.hbs-hierarchical-tease__title--short {
    font-size: 90.4px;
  }
}
.hbs-hierarchical-tease .hbs-hierarchical-tease__subheading {
  max-width: 30em;
}
.hbs-hierarchical-tease .hbs-hierarchical-tease__cta {
  margin-top: 12px;
}
.hbs-hierarchical-tease .hbs-hierarchical-tease__articles {
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px;
  margin-right: -8px;
  width: calc(100% + 16px);
}
@media (min-width: 600px) {
  .hbs-hierarchical-tease .hbs-hierarchical-tease__articles {
    margin-left: -1vw;
    margin-right: -1vw;
    width: calc(100% + 2vw);
  }
}
.hbs-hierarchical-tease .hbs-hierarchical-tease__big-preview {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}
@media (min-width: 600px) {
  .hbs-hierarchical-tease .hbs-hierarchical-tease__big-preview {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
.hbs-hierarchical-tease
  .hbs-hierarchical-tease__big-preview
  .hbs-article-tease__title {
  font-size: 24px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 600;
  line-height: 1.05;
  letter-spacing: -0.035em;
  transform: translateX(-0.06em);
}
@media screen and (min-width: 300px) and (max-width: 1340px) {
  .hbs-hierarchical-tease
    .hbs-hierarchical-tease__big-preview
    .hbs-article-tease__title {
    font-size: calc(24px + 21 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1340px) {
  .hbs-hierarchical-tease
    .hbs-hierarchical-tease__big-preview
    .hbs-article-tease__title {
    font-size: 45px;
  }
}
@media (min-width: 800px) {
  .hbs-hierarchical-tease .hbs-hierarchical-tease__big-preview {
    width: 56.25%;
  }
}
@media (min-width: 1024px) {
  .hbs-hierarchical-tease .hbs-hierarchical-tease__big-preview {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .hbs-hierarchical-tease .hbs-hierarchical-tease__big-preview {
    width: 50%;
    margin-right: 6.25%;
  }
}
.hbs-hierarchical-tease .hbs-hierarchical-tease__small-preview {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  margin-top: 2em;
}
@media (min-width: 600px) {
  .hbs-hierarchical-tease .hbs-hierarchical-tease__small-preview {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .hbs-hierarchical-tease .hbs-hierarchical-tease__small-preview {
    width: 43.75%;
    margin-top: 0;
  }
  .hbs-hierarchical-tease
    .hbs-hierarchical-tease__small-preview
    .hbs-article-tease__image {
    width: 28.5714285714%;
  }
  .hbs-hierarchical-tease
    .hbs-hierarchical-tease__small-preview
    .hbs-article-tease__image
    + .hbs-article-tease__content {
    width: 71.4285714286%;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .hbs-hierarchical-tease .hbs-hierarchical-tease__small-preview {
    width: 50%;
    margin-top: 0;
  }
  .hbs-hierarchical-tease
    .hbs-hierarchical-tease__small-preview
    .hbs-article-tease__image {
    width: 25%;
  }
  .hbs-hierarchical-tease
    .hbs-hierarchical-tease__small-preview
    .hbs-article-tease__image
    + .hbs-article-tease__content {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .hbs-hierarchical-tease .hbs-hierarchical-tease__small-preview {
    width: 43.75%;
    margin-top: 0;
  }
  .hbs-hierarchical-tease
    .hbs-hierarchical-tease__small-preview
    .hbs-article-tease__image {
    width: 28.5714285714%;
  }
  .hbs-hierarchical-tease
    .hbs-hierarchical-tease__small-preview
    .hbs-article-tease__image
    + .hbs-article-tease__content {
    width: 71.4285714286%;
  }
}
.hbs-hierarchical-tease .hbs-hierarchical-tease__component-header {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}
@media (min-width: 600px) {
  .hbs-hierarchical-tease .hbs-hierarchical-tease__component-header {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
.hbs-hierarchical-tease
  .hbs-hierarchical-tease__component-header
  .hbs-component-header__inner {
  border: none;
}
/*# sourceMappingURL=753daccca24dd03e.css.map*/
