.hbs-article-tease {
  width: 100%;
}
.hbs-tease-row--mixed-tease .hbs-article-tease img {
  object-fit: cover;
  aspect-ratio: 3/2;
  width: auto;
}
.hbs-article-tease:after {
  content: "";
  clear: both;
  display: table;
}
.hbs-article-tease .hbs-article-tease__title__link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  color: var(--c-text);
  -webkit-text-decoration-color: rgba(0, 0, 0, 0);
  text-decoration-color: rgba(0, 0, 0, 0);
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  transition: color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    -webkit-text-decoration-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  transition: text-decoration-color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  transition: text-decoration-color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    -webkit-text-decoration-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}
@media not all and (hover: none) {
  .hbs-article-tease .hbs-article-tease__title__link:hover {
    color: var(--c-spot);
    -webkit-text-decoration-color: var(--c-text);
    text-decoration-color: var(--c-text);
    outline: none;
  }
}
.hbs-article-tease .hbs-article-tease__title__link:focus:not(:hover) {
  outline: 4px solid var(--c-outline);
  outline-offset: 1px;
}
.hbs-article-tease .hbs-article-tease__title__link:focus:not(:focus-visible) {
  outline: none;
}
.hbs-article-tease .hbs-article-tease__image {
  position: relative;
}
.hbs-article-tease .hbs-article-tease__image .hbs-media-asset--image {
  pointer-events: none;
}
.hbs-article-tease .hbs-article-tease__image .hbs-article-tease__image__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 8px;
  margin-right: 8px;
  width: 100%;
  width: auto;
}
@media (min-width: 600px) {
  .hbs-article-tease .hbs-article-tease__image .hbs-article-tease__image__link {
    margin-left: 1vw;
    margin-right: 1vw;
  }
}
.hbs-article-tease
  .hbs-article-tease__image
  .hbs-article-tease__image__link--cover {
  margin: 0;
}
.hbs-article-tease
  .hbs-article-tease__image
  .hbs-article-tease__image__link--cover:focus,
.hbs-article-tease
  .hbs-article-tease__image
  .hbs-article-tease__image__link--cover:hover {
  background-color: var(--c-bg-inverse) !important;
}
.hbs-article-tease
  .hbs-article-tease__image:focus
  + .hbs-article-tease__content
  .hbs-article-tease__title__link,
.hbs-article-tease
  .hbs-article-tease__image:hover
  + .hbs-article-tease__content
  .hbs-article-tease__title__link {
  color: var(--c-spot);
  -webkit-text-decoration-color: var(--c-text);
  text-decoration-color: var(--c-text);
}
.hbs-article-tease .hbs-article-tease__title {
  font-size: 16px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
  display: block;
}
@media screen and (min-width: 300px) and (max-width: 1340px) {
  .hbs-article-tease .hbs-article-tease__title {
    font-size: calc(16px + 4 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1340px) {
  .hbs-article-tease .hbs-article-tease__title {
    font-size: 20px;
  }
}
.hbs-article-tease .hbs-article-tease__teaser {
  font-size: 16px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
  color: var(--c-text-light);
  display: block;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
@media (min-width: 600px) {
  .hbs-article-tease .hbs-article-tease__teaser {
    -webkit-line-clamp: 2;
  }
}
.hbs-article-tease--content .hbs-article-tease__teaser {
  -webkit-line-clamp: 6;
}
.hbs-article-tease .hbs-article-tease__meta {
  font-size: 14px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 400;
  line-height: 1.2;
  color: var(--c-text-light);
  display: block;
  line-height: 1.35;
}
.hbs-article-tease .hbs-article-tease__meta b,
.hbs-article-tease .hbs-article-tease__meta strong {
  font-weight: 600;
}
.hbs-article-tease .hbs-article-tease__download,
.hbs-article-tease .hbs-article-tease__source {
  font-size: 14px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 8px;
  max-width: 35em;
}
.hbs-article-tease .hbs-article-tease__download b,
.hbs-article-tease .hbs-article-tease__download strong,
.hbs-article-tease .hbs-article-tease__source b,
.hbs-article-tease .hbs-article-tease__source strong {
  font-weight: 600;
}
.hbs-article-tease .hbs-article-tease__download-link,
.hbs-article-tease .hbs-article-tease__source-link {
  cursor: pointer;
  color: var(--c-text-light);
  -webkit-text-decoration-color: var(--c-border-dark);
  text-decoration-color: var(--c-border-dark);
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  transition: color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    -webkit-text-decoration-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  transition: text-decoration-color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  transition: text-decoration-color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    -webkit-text-decoration-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 0.2em;
}
@media not all and (hover: none) {
  .hbs-article-tease .hbs-article-tease__download-link:hover,
  .hbs-article-tease .hbs-article-tease__source-link:hover {
    color: var(--c-spot);
    -webkit-text-decoration-color: var(--c-solid);
    text-decoration-color: var(--c-solid);
    outline: none;
  }
}
.hbs-article-tease .hbs-article-tease__download-link:focus:not(:hover),
.hbs-article-tease .hbs-article-tease__source-link:focus:not(:hover) {
  outline: 4px solid var(--c-outline);
  outline-offset: 1px;
}
.hbs-article-tease .hbs-article-tease__download-link:focus:not(:focus-visible),
.hbs-article-tease .hbs-article-tease__source-link:focus:not(:focus-visible) {
  outline: none;
}
.hbs-article-tease .hbs-article-tease__overline {
  font-size: 16px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: var(--c-spot);
  display: block;
  margin-bottom: 5px;
}
.hbs-article-tease .hbs-article-tease__overline a {
  cursor: pointer;
  color: var(--c-spot);
  -webkit-text-decoration-color: rgba(0, 0, 0, 0);
  text-decoration-color: rgba(0, 0, 0, 0);
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  transition: color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    -webkit-text-decoration-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  transition: text-decoration-color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  transition: text-decoration-color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    -webkit-text-decoration-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}
@media not all and (hover: none) {
  .hbs-article-tease .hbs-article-tease__overline a:hover {
    color: var(--c-spot);
    -webkit-text-decoration-color: var(--c-text);
    text-decoration-color: var(--c-text);
    outline: none;
  }
}
.hbs-article-tease .hbs-article-tease__overline a:focus:not(:hover) {
  outline: 4px solid var(--c-outline);
  outline-offset: 1px;
}
.hbs-article-tease .hbs-article-tease__overline a:focus:not(:focus-visible) {
  outline: none;
}
.hbs-article-tease .hbs-participant-story-media__image {
  aspect-ratio: 3/2;
  background-color: var(--c-bg-inverse);
  overflow: hidden;
  width: auto;
  pointer-events: none;
  clear: both;
}
.hbs-article-tease
  .hbs-participant-story-media__image
  .hbs-media-asset__wrapper {
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  padding: 15%;
  justify-content: center;
  display: flex;
  overflow: hidden;
  position: relative;
}
.hbs-article-tease .hbs-participant-story-media__image img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center center;
  width: auto;
  height: 100%;
}
.hbs-article-tease .hbs-article-tease__multi-link__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
}
@media (min-width: 800px) {
  .hbs-article-tease .hbs-article-tease__multi-link__list {
    gap: 12px;
  }
}
.hbs-article-tease .hbs-article-tease__multi-link__link {
  padding: 5px 8px;
  font-size: 14px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 400;
  line-height: 1.2;
  cursor: pointer;
  text-decoration: none;
  color: var(--c-solid);
  transition: color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  border-radius: 5px;
  display: inline-block;
  transition: border-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  border: 1px solid var(--c-border-dark);
}
.hbs-article-tease .hbs-article-tease__multi-link__link b,
.hbs-article-tease .hbs-article-tease__multi-link__link strong {
  font-weight: 600;
}
@media not all and (hover: none) {
  .hbs-article-tease .hbs-article-tease__multi-link__link:hover {
    color: var(--c-spot);
    outline: none;
  }
}
.hbs-article-tease .hbs-article-tease__multi-link__link:focus:not(:hover) {
  outline: 4px solid var(--c-outline);
  outline-offset: 1px;
}
.hbs-article-tease
  .hbs-article-tease__multi-link__link:focus:not(:focus-visible) {
  outline: none;
}
.hbs-article-tease .hbs-article-tease__multi-link__link:focus,
.hbs-article-tease .hbs-article-tease__multi-link__link:hover {
  border-color: var(--c-spot);
}
@media (min-width: 800px) {
  .hbs-article-tease .hbs-article-tease__multi-link__link {
    padding: 8px;
  }
}
.hbs-article-tease--logo,
.hbs-article-tease__content {
  margin-top: 18px;
}
.hbs-article-tease--logo .hbs-article-tease__content {
  margin-top: 12px;
}
.hbs-tease-feed .hbs-tease-feed__item {
  position: relative;
}
.hbs-tease-feed .hbs-tease-feed__item:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  width: auto;
  margin-right: 0;
  margin-left: 0;
  border-bottom: 1px solid;
  color: var(--c-border-light);
  pointer-events: none;
}
@media (min-width: 600px) {
  .hbs-tease-feed .hbs-tease-feed__item:after {
    margin-right: 0;
    margin-left: 0;
  }
}
.hbs-tease-feed .hbs-article-tease {
  padding-left: 0;
  padding-right: 0;
  margin-left: -8px;
  margin-right: -8px;
  width: calc(100% + 16px);
  padding-top: var(--block-spacing-md);
  padding-bottom: var(--block-spacing-md);
  position: relative;
}
@media (min-width: 600px) {
  .hbs-tease-feed .hbs-article-tease {
    margin-left: -1vw;
    margin-right: -1vw;
    width: calc(100% + 2vw);
  }
}
.hbs-tease-feed .hbs-article-tease__image {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  clear: right;
  display: block;
  float: right;
  margin-top: 5px;
  order: 2;
  overflow: hidden;
  width: 25%;
}
@media (min-width: 600px) {
  .hbs-tease-feed .hbs-article-tease__image {
    padding-left: 1vw;
    padding-right: 1vw;
    width: 31.25%;
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  .hbs-tease-feed .hbs-article-tease__image {
    width: 33.3333333333%;
  }
}
.hbs-tease-feed .hbs-article-tease__content {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  margin-top: 0;
  order: 1;
}
@media (min-width: 600px) {
  .hbs-tease-feed .hbs-article-tease__content {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
@media (min-width: 1024px) {
  .hbs-tease-feed .hbs-article-tease__image + .hbs-article-tease__content {
    width: 66.6666666667%;
  }
}
@media (min-width: 1340px) {
  .hbs-tease-feed .hbs-article-tease__image + .hbs-article-tease__content {
    margin-right: 8.3333333333%;
    width: 58.3333333333%;
  }
}
@media (min-width: 1024px) {
  .hbs-component--tease-feed.hbs-global-align-full
    .hbs-tease-feed
    .hbs-article-tease__title,
  .hbs-component--tease-feed.hbs-global-align-wide
    .hbs-tease-feed
    .hbs-article-tease__title {
    font-size: 20px;
    font-family: Graphik, sans-serif, system-ui;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.03em;
  }
}
@media screen and (min-width: 1024px) and (min-width: 300px) and (max-width: 1340px) {
  .hbs-component--tease-feed.hbs-global-align-full
    .hbs-tease-feed
    .hbs-article-tease__title,
  .hbs-component--tease-feed.hbs-global-align-wide
    .hbs-tease-feed
    .hbs-article-tease__title {
    font-size: calc(20px + 11.99 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1024px) and (min-width: 1340px) {
  .hbs-component--tease-feed.hbs-global-align-full
    .hbs-tease-feed
    .hbs-article-tease__title,
  .hbs-component--tease-feed.hbs-global-align-wide
    .hbs-tease-feed
    .hbs-article-tease__title {
    font-size: 31.99px;
  }
}
@media (min-width: 600px) {
  .hbs-global-align-center .hbs-tease-feed .hbs-article-tease__image {
    width: 25%;
  }
}
@media (min-width: 1024px) {
  .hbs-global-align-center .hbs-tease-feed .hbs-article-tease__image {
    width: 22.2222222222%;
  }
}
@media (min-width: 1340px) {
  .hbs-global-align-center .hbs-tease-feed .hbs-article-tease__image {
    width: 25%;
  }
}
.hbs-global-align-center .hbs-tease-feed .hbs-article-tease--compressed {
  padding: 18px 0;
}
@media (min-width: 600px) {
  .hbs-global-align-center
    .hbs-tease-feed
    .hbs-article-tease__image
    + .hbs-article-tease__content {
    width: 75%;
  }
}
@media (min-width: 1024px) {
  .hbs-global-align-center
    .hbs-tease-feed
    .hbs-article-tease__image
    + .hbs-article-tease__content {
    width: 77.7777777778%;
  }
}
@media (min-width: 1340px) {
  .hbs-global-align-center
    .hbs-tease-feed
    .hbs-article-tease__image
    + .hbs-article-tease__content {
    width: 75%;
    margin-right: 0;
  }
}
.hbs-tease-row .hbs-article-tease .hbs-article-tease__title {
  font-size: 16px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 300px) and (max-width: 1340px) {
  .hbs-tease-row .hbs-article-tease .hbs-article-tease__title {
    font-size: calc(16px + 4 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1340px) {
  .hbs-tease-row .hbs-article-tease .hbs-article-tease__title {
    font-size: 20px;
  }
}
.hbs-tease-row .hbs-article-tease--no-image {
  padding: 18px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}
@media not all and (hover: none) {
  .hbs-tease-row .hbs-article-tease--no-image:hover {
    --c-bg: #222222;
    --c-bg-transparent: rgba(34, 34, 34, 0);
    --c-bg-inverse: #f6f4f2;
    --c-bg-complementary: #000000;
    --c-solid: rgba #ffffff;
    --c-solid-inverse: #000000;
    --c-spot: #9bcfff;
    --c-accent-dark: #85609f;
    --c-accent-light: #aac8eb;
    --c-text: rgba(255, 255, 255, 0.95);
    --c-text-link: rgba(255, 255, 255, 0.95);
    --c-text-light: rgba(255, 255, 255, 0.82);
    --c-text-lighter: rgba(255, 255, 255, 0.72);
    --c-border: rgba(255, 255, 255, 0.34);
    --c-border-light: rgba(255, 255, 255, 0.15);
    --c-border-dark: rgba(255, 255, 255, 0.72);
    --c-button-bg: #000000;
    --c-button-bg-subtle: rgba(255, 255, 255, 0.15);
    --c-button-bg-strong: #a41034;
    --c-submenu-bg: #222222;
    --c-highlight: #e80538;
    --c-outline: #9bcfff;
    background-color: var(--c-bg);
    outline: none;
  }
}
.hbs-tease-row .hbs-article-tease--no-image:focus:not(:hover) {
  outline: 4px solid var(--c-outline);
  outline-offset: 1px;
}
.hbs-tease-row .hbs-article-tease--no-image:focus:not(:focus-visible) {
  outline: none;
}
.hbs-tease-row .hbs-article-tease--no-image .hbs-article-tease__overline {
  position: relative;
  margin-bottom: 8px;
  z-index: 10;
}
.hbs-tease-row .hbs-article-tease--no-image .hbs-article-tease__overline a {
  color: var(--c-text);
}
.hbs-tease-row .hbs-article-tease--no-image .hbs-article-tease__title {
  font-size: 20px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 8px;
  position: static;
  transform: none;
}
@media screen and (min-width: 300px) and (max-width: 1340px) {
  .hbs-tease-row .hbs-article-tease--no-image .hbs-article-tease__title {
    font-size: calc(20px + 4 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1340px) {
  .hbs-tease-row .hbs-article-tease--no-image .hbs-article-tease__title {
    font-size: 24px;
  }
}
.hbs-tease-row .hbs-article-tease--no-image .hbs-article-tease__title__link {
  position: static;
  color: var(--c-text);
  text-decoration: none;
}
@media not all and (hover: none) {
  .hbs-tease-row
    .hbs-article-tease--no-image
    .hbs-article-tease__title__link:hover {
    text-decoration: none;
    outline: none;
  }
}
.hbs-tease-row
  .hbs-article-tease--no-image
  .hbs-article-tease__title__link:focus:not(:hover) {
  outline: 4px solid var(--c-outline);
  outline-offset: 1px;
}
.hbs-tease-row
  .hbs-article-tease--no-image
  .hbs-article-tease__title__link:focus:not(:focus-visible) {
  outline: none;
}
.hbs-tease-row
  .hbs-article-tease--no-image
  .hbs-article-tease__title__link:after {
  content: "";
  position: absolute;
  inset: 0;
  cursor: pointer !important;
  display: flex;
}
.hbs-tease-row .hbs-article-tease--no-image .hbs-article-tease__teaser {
  margin-bottom: 8px;
}
.hbs-tease-row .hbs-article-tease--no-image .hbs-article-tease__content {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.hbs-tease-row .hbs-article-tease--no-image .hbs-article-tease__meta {
  transition: color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  margin-top: auto;
}
@media (min-width: 600px) {
  .hbs-global-align-center
    .hbs-tease-row.hbs-tease-row--2-up
    .hbs-article-tease--no-image
    .hbs-article-tease__title,
  .hbs-global-align-center
    .hbs-tease-row.hbs-tease-row--3-up
    .hbs-article-tease--no-image
    .hbs-article-tease__title {
    font-size: 16px;
    font-family: Graphik, sans-serif, system-ui;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }
}
@media screen and (min-width: 600px) and (min-width: 300px) and (max-width: 1340px) {
  .hbs-global-align-center
    .hbs-tease-row.hbs-tease-row--2-up
    .hbs-article-tease--no-image
    .hbs-article-tease__title,
  .hbs-global-align-center
    .hbs-tease-row.hbs-tease-row--3-up
    .hbs-article-tease--no-image
    .hbs-article-tease__title {
    font-size: calc(16px + 4 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 600px) and (min-width: 1340px) {
  .hbs-global-align-center
    .hbs-tease-row.hbs-tease-row--2-up
    .hbs-article-tease--no-image
    .hbs-article-tease__title,
  .hbs-global-align-center
    .hbs-tease-row.hbs-tease-row--3-up
    .hbs-article-tease--no-image
    .hbs-article-tease__title {
    font-size: 20px;
  }
}
@media (min-width: 600px) {
  .hbs-global-align-full
    .hbs-tease-row.hbs-tease-row--2-up
    .hbs-article-tease--no-image
    .hbs-article-tease__title,
  .hbs-global-align-full
    .hbs-tease-row.hbs-tease-row--3-up
    .hbs-article-tease--no-image
    .hbs-article-tease__title {
    font-size: 20px;
    font-family: Graphik, sans-serif, system-ui;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.03em;
  }
}
@media screen and (min-width: 600px) and (min-width: 300px) and (max-width: 1340px) {
  .hbs-global-align-full
    .hbs-tease-row.hbs-tease-row--2-up
    .hbs-article-tease--no-image
    .hbs-article-tease__title,
  .hbs-global-align-full
    .hbs-tease-row.hbs-tease-row--3-up
    .hbs-article-tease--no-image
    .hbs-article-tease__title {
    font-size: calc(20px + 11.99 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 600px) and (min-width: 1340px) {
  .hbs-global-align-full
    .hbs-tease-row.hbs-tease-row--2-up
    .hbs-article-tease--no-image
    .hbs-article-tease__title,
  .hbs-global-align-full
    .hbs-tease-row.hbs-tease-row--3-up
    .hbs-article-tease--no-image
    .hbs-article-tease__title {
    font-size: 31.99px;
  }
}
@media (min-width: 1024px) {
  .hbs-tease-row.hbs-tease-row--1-up
    .hbs-article-tease
    .hbs-article-tease__title {
    font-size: 20px;
    font-family: Graphik, sans-serif, system-ui;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.03em;
  }
}
@media screen and (min-width: 1024px) and (min-width: 300px) and (max-width: 1340px) {
  .hbs-tease-row.hbs-tease-row--1-up
    .hbs-article-tease
    .hbs-article-tease__title {
    font-size: calc(20px + 11.99 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1024px) and (min-width: 1340px) {
  .hbs-tease-row.hbs-tease-row--1-up
    .hbs-article-tease
    .hbs-article-tease__title {
    font-size: 31.99px;
  }
}
@media (min-width: 1024px) {
  .hbs-global-align-full
    .hbs-tease-row.hbs-tease-row--2-up
    .hbs-article-tease
    .hbs-article-tease__title,
  .hbs-global-align-wide
    .hbs-tease-row.hbs-tease-row--2-up
    .hbs-article-tease
    .hbs-article-tease__title {
    font-size: 20px;
    font-family: Graphik, sans-serif, system-ui;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.03em;
  }
}
@media screen and (min-width: 1024px) and (min-width: 300px) and (max-width: 1340px) {
  .hbs-global-align-full
    .hbs-tease-row.hbs-tease-row--2-up
    .hbs-article-tease
    .hbs-article-tease__title,
  .hbs-global-align-wide
    .hbs-tease-row.hbs-tease-row--2-up
    .hbs-article-tease
    .hbs-article-tease__title {
    font-size: calc(20px + 11.99 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1024px) and (min-width: 1340px) {
  .hbs-global-align-full
    .hbs-tease-row.hbs-tease-row--2-up
    .hbs-article-tease
    .hbs-article-tease__title,
  .hbs-global-align-wide
    .hbs-tease-row.hbs-tease-row--2-up
    .hbs-article-tease
    .hbs-article-tease__title {
    font-size: 31.99px;
  }
}
.hbs-tease-row__tease-mod .hbs-article-tease.hbs-article-tease--content {
  align-self: stretch;
  width: 100%;
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content {
  justify-content: normal;
  margin-top: 0;
  padding-top: 18px;
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content__card {
  padding: 18px;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content__card
  .hbs-article-tease__title {
  font-size: 16px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
  transform: none;
  margin-left: -0.06em;
}
@media screen and (min-width: 300px) and (max-width: 1340px) {
  .hbs-tease-row__tease-mod
    .hbs-article-tease.hbs-article-tease--content
    .hbs-article-tease__content__card
    .hbs-article-tease__title {
    font-size: calc(16px + 4 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1340px) {
  .hbs-tease-row__tease-mod
    .hbs-article-tease.hbs-article-tease--content
    .hbs-article-tease__content__card
    .hbs-article-tease__title {
    font-size: 20px;
  }
}
@media (min-width: 600px) {
  .hbs-tease-row__tease-mod
    .hbs-article-tease.hbs-article-tease--content
    .hbs-article-tease__content__card
    .hbs-article-tease__title {
    min-height: 2.4em;
  }
}
.hbs-global-align-full
  .hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content__card
  .hbs-article-tease__title,
.hbs-global-align-wide
  .hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content__card
  .hbs-article-tease__title {
  font-size: 20px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
}
@media screen and (min-width: 300px) and (max-width: 1340px) {
  .hbs-global-align-full
    .hbs-tease-row__tease-mod
    .hbs-article-tease.hbs-article-tease--content
    .hbs-article-tease__content__card
    .hbs-article-tease__title,
  .hbs-global-align-wide
    .hbs-tease-row__tease-mod
    .hbs-article-tease.hbs-article-tease--content
    .hbs-article-tease__content__card
    .hbs-article-tease__title {
    font-size: calc(20px + 4 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1340px) {
  .hbs-global-align-full
    .hbs-tease-row__tease-mod
    .hbs-article-tease.hbs-article-tease--content
    .hbs-article-tease__content__card
    .hbs-article-tease__title,
  .hbs-global-align-wide
    .hbs-tease-row__tease-mod
    .hbs-article-tease.hbs-article-tease--content
    .hbs-article-tease__content__card
    .hbs-article-tease__title {
    font-size: 24px;
  }
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content__card
  .hbs-article-tease__content-wrapper--small {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content__card
  .hbs-article-tease__content-wrapper--small
  .hbs-article-tease__title--small {
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 18px;
  min-height: auto;
  transform: none;
  margin-left: -0.06em;
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content--link {
  background-color: var(--c-bg);
  text-decoration: none;
  transition: background-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content--link:focus:not(:hover) {
  outline-offset: -8px !important;
}
@media not all and (hover: none) {
  .hbs-tease-row__tease-mod
    .hbs-article-tease.hbs-article-tease--content
    .hbs-article-tease__content--link:hover {
    --c-bg: #222222;
    --c-bg-transparent: rgba(34, 34, 34, 0);
    --c-bg-inverse: #f6f4f2;
    --c-bg-complementary: #000000;
    --c-solid: rgba #ffffff;
    --c-solid-inverse: #000000;
    --c-spot: #9bcfff;
    --c-accent-dark: #85609f;
    --c-accent-light: #aac8eb;
    --c-text: rgba(255, 255, 255, 0.95);
    --c-text-link: rgba(255, 255, 255, 0.95);
    --c-text-light: rgba(255, 255, 255, 0.82);
    --c-text-lighter: rgba(255, 255, 255, 0.72);
    --c-border: rgba(255, 255, 255, 0.34);
    --c-border-light: rgba(255, 255, 255, 0.15);
    --c-border-dark: rgba(255, 255, 255, 0.72);
    --c-button-bg: #000000;
    --c-button-bg-subtle: rgba(255, 255, 255, 0.15);
    --c-button-bg-strong: #a41034;
    --c-submenu-bg: #222222;
    --c-highlight: #e80538;
    --c-outline: #9bcfff;
    color: var(--c-text);
    outline: none;
  }
  .hbs-tease-row__tease-mod
    .hbs-article-tease.hbs-article-tease--content
    .hbs-article-tease__content--link:hover
    .hbs-icon
    .arrow {
    animation: swipe 0.5s ease-in-out;
  }
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content--link:focus:not(:hover) {
  outline: 4px solid var(--c-outline);
  outline-offset: 1px;
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content--link:focus:not(:focus-visible) {
  outline: none;
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content--link
  a {
  text-decoration: none;
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content--link
  a:hover {
  color: inherit;
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content--link
  a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content--link
  .hbs-article-tease__arrow {
  margin-top: auto;
  padding-top: 18px;
  flex-shrink: 0;
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content--link
  .hbs-article-tease__arrow
  .hbs-article-tease__arrow-icon--external {
  transform: rotate(-45deg);
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content--link
  .hbs-article-tease__arrow
  .hbs-icon {
  transition: transform 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  height: 1em;
  width: 1em;
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content--link
  .hbs-article-tease__arrow
  svg {
  pointer-events: none;
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content--link.hbs-article-tease__content--small {
  justify-content: flex-start;
  min-height: 120px;
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content--link.hbs-article-tease__content--small
  a {
  text-decoration: none;
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content--link.hbs-article-tease__content--small
  a:hover {
  color: inherit;
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content--link.hbs-article-tease__content--small
  a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content--link.hbs-article-tease__content--small
  .hbs-article-tease__arrow {
  display: flex;
  margin-top: 0;
  padding-top: 0;
}
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content
  .hbs-article-tease__content--link.hbs-article-tease__content--small
  .hbs-article-tease__arrow
  .hbs-icon {
  height: 12px;
  width: 12px;
  margin-left: 18px;
  margin-top: 5px;
  flex-shrink: 0;
  transition: transform 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}
.hbs-page-section[data-theme="black"]
  .hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content[data-theme="black"]
  .hbs-article-tease__content--link,
.hbs-page-section[data-theme="crimson"]
  .hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content[data-theme="crimson"]
  .hbs-article-tease__content--link,
.hbs-page-section[data-theme="dark"]
  .hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content[data-theme="dark"]
  .hbs-article-tease__content--link,
.hbs-page-section[data-theme="light"]
  .hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content[data-theme="light"]
  .hbs-article-tease__content--link,
.hbs-page-section[data-theme="white"]
  .hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content[data-theme="white"]
  .hbs-article-tease__content--link,
.hbs-tease-row__tease-mod
  .hbs-article-tease.hbs-article-tease--content[data-theme="unset"]
  .hbs-article-tease__content--link {
  box-shadow: 0 0 0 1px inset var(--c-border-light);
}
.hbs-article-tease--text-only .hbs-article-tease__content {
  margin-top: 0;
}
.hbs-editorial-topper__tease-row
  .hbs-article-tease--text-only
  .hbs-article-tease__content {
  margin-top: 18px;
}
.hbs-article-tease--text-only .hbs-article-tease__title {
  font-size: 16px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 300px) and (max-width: 1340px) {
  .hbs-article-tease--text-only .hbs-article-tease__title {
    font-size: calc(16px + 4 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1340px) {
  .hbs-article-tease--text-only .hbs-article-tease__title {
    font-size: 20px;
  }
}
@media not all and (hover: none) {
  .hbs-article-tease__content.hbs-article-tease__content--link.hbs-article-tease__content--small:hover {
    --c-bg: #222222;
    --c-bg-transparent: rgba(34, 34, 34, 0);
    --c-bg-inverse: #f6f4f2;
    --c-bg-complementary: #000000;
    --c-solid: rgba #ffffff;
    --c-spot: #9bcfff;
    --c-accent-dark: #85609f;
    --c-accent-light: #aac8eb;
    --c-text: rgba(255, 255, 255, 0.95);
    --c-text-link: rgba(255, 255, 255, 0.95);
    --c-text-light: rgba(255, 255, 255, 0.82);
    --c-text-lighter: rgba(255, 255, 255, 0.72);
    --c-border: rgba(255, 255, 255, 0.34);
    --c-border-dark: rgba(255, 255, 255, 0.72);
    --c-button-bg: #000000;
    --c-button-bg-subtle: rgba(255, 255, 255, 0.15);
    --c-button-bg-strong: #a41034;
    --c-submenu-bg: #222222;
    --c-highlight: #e80538;
    --c-outline: #9bcfff;
    --c-bg: #a41034;
    --c-bg-transparent: rgba(164, 16, 52, 0);
    --c-bg-complementary: #be0d38;
    --c-text: #ffffff;
    --c-spot: #ffffff;
    --c-text-light: rgba(255, 255, 255, 0.85);
    --c-text-lighter: rgba(255, 255, 255, 0.81);
    --c-border-light: rgba(255, 255, 255, 0.15);
    --c-button-bg-subtle: rgba(0, 0, 0, 0.08);
    --c-solid: #f6f4f2;
    --c-solid-inverse: #000000;
    --c-outline: #ffffff;
    color: var(--c-text);
    outline: none;
  }
}
.hbs-article-tease__content.hbs-article-tease__content--link.hbs-article-tease__content--small:focus:not(:hover) {
  outline: 4px solid var(--c-outline);
  outline-offset: 1px;
}
.hbs-article-tease__content.hbs-article-tease__content--link.hbs-article-tease__content--small:focus:not(:focus-visible) {
  outline: none;
}
.hbs-article-tease__media--inset {
  background-color: var(--c-bg-inverse);
  padding: 15%;
}
.hbs-article-tease__media--cover,
.hbs-article-tease__media--inset {
  aspect-ratio: 3/2;
  overflow: hidden;
  width: auto;
}
.hbs-article-tease__media--cover .hbs-media-asset__wrapper,
.hbs-article-tease__media--inset .hbs-media-asset__wrapper {
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  justify-content: center;
}
.hbs-article-tease__media--cover img,
.hbs-article-tease__media--inset img {
  object-fit: contain;
  width: auto;
  height: 100%;
}
.hbs-article-tease__media--cover {
  padding: 10%;
}
.hbs-article-tease__media--cover img {
  filter: drop-shadow(2px 8px 8px rgba(0, 0, 0, 0.05))
    drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.05));
}
.hbs-article-tease__content:not(.tease-without-media)
  .hbs-article-tease__title {
  max-width: 25em;
}
.hbs-article-tease__content:not(.tease-without-media)
  .hbs-article-tease__teaser {
  max-width: 30em;
}
@media (min-width: 300px) and (max-width: 599px) {
  .hbs-tease-feed
    .hbs-article-tease:not(.hbs-article-tease--text-only)
    .hbs-article-tease__content:not(.tease-without-media) {
    max-width: 50%;
  }
  .hbs-tease-feed .hbs-article-tease__image {
    max-width: 50%;
    width: 50%;
  }
  .hbs-tease-feed
    .hbs-article-tease__image
    .hbs-participant-story-media__image {
    height: 100%;
    width: auto;
  }
  .hbs-tease-feed
    .hbs-article-tease__image
    .hbs-participant-story-media__image
    .hbs-media-asset__wrapper {
    padding: 8%;
  }
}
/*# sourceMappingURL=89d2b01ef4cbe704.css.map*/
