.hbs-component-header.hbs-component-header {
  display: block;
  width: 100%;
}
.hbs-component-header.hbs-component-header p {
  font-size: 16px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: var(--c-text-light);
}
@media (min-width: 1024px) {
  .hbs-component-header--small .hbs-component-header__title,
  .hbs-component-header--small p {
    display: inline;
  }
}
.hbs-component-header--small .hbs-component-header__title {
  font-size: 16px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.01em;
  padding-right: 12px;
}
.hbs-component-header--small.hbs-component-header--border-top
  .hbs-component-header__inner:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  width: auto;
  margin-right: 0;
  margin-left: 0;
  border-bottom: 1px solid;
  color: var(--c-border);
  pointer-events: none;
}
@media (min-width: 600px) {
  .hbs-component-header--small.hbs-component-header--border-top
    .hbs-component-header__inner:after {
    margin-right: 0;
    margin-left: 0;
  }
}
.hbs-component-header--small.hbs-component-header--border-bottom
  .hbs-component-header__inner {
  margin-bottom: 24px;
}
.hbs-component-header--small.hbs-component-header--border-bottom
  .hbs-component-header__inner:after {
  content: " ";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0;
  width: auto;
  margin-right: 0;
  margin-left: 0;
  border-bottom: 1px solid;
  color: var(--c-border);
  pointer-events: none;
}
@media (min-width: 600px) {
  .hbs-component-header--small.hbs-component-header--border-bottom
    .hbs-component-header__inner:after {
    margin-right: 0;
    margin-left: 0;
  }
}
.hbs-component-header--small.hbs-component-header--border-hidden
  .hbs-component-header__inner:after {
  display: none;
}
.hbs-component-header--small .hbs-component-header__inner {
  padding-top: 12px;
  padding-bottom: 12px;
  align-items: baseline;
}
.hbs-component-header__inner .hbs-component-header__cta,
.hbs-component-header__inner .hbs-cta-link--link {
  display: block;
  margin-top: 12px;
}
@media (min-width: 600px) {
  .hbs-component-header__inner .hbs-component-header__cta,
  .hbs-component-header__inner .hbs-cta-link--link {
    align-self: flex-end;
    margin-top: 0;
  }
}
.hbs-component-header__inner {
  position: relative;
}
@media (min-width: 600px) {
  .hbs-component-header__inner {
    display: flex;
    justify-content: space-between;
  }
}
.hbs-component-header__wrapper .hbs-component-header__description {
  display: block;
}
@media (min-width: 1024px) {
  .hbs-component-header__wrapper .hbs-component-header__description {
    display: inline-block;
  }
}
@media (min-width: 600px) {
  .hbs-component-header--small .hbs-component-header__wrapper {
    width: 75%;
    line-height: 0;
  }
}
@media (min-width: 1024px) {
  .hbs-component-header--small .hbs-component-header__wrapper {
    width: 50%;
  }
}
.hbs-component-header--large
  .hbs-component-header__wrapper
  .hbs-component-header__title {
  max-width: 30em;
}
.hbs-component-header--large .hbs-component-header__wrapper p {
  max-width: 40em;
}
.hbs-component-header__link {
  flex-shrink: 0;
  margin-left: 12px;
}
.hbs-component-header__link__text {
  margin-right: 12px;
}
.hbs-component-header--large.hbs-component-header--border-bottom
  .hbs-component-header__inner {
  margin-bottom: 24px;
  padding-bottom: 12px;
}
.hbs-component-header--large.hbs-component-header--border-bottom
  .hbs-component-header__inner:after {
  content: " ";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0;
  width: auto;
  margin-right: 0;
  margin-left: 0;
  border-bottom: 1px solid;
  color: var(--c-border);
  pointer-events: none;
}
@media (min-width: 600px) {
  .hbs-component-header--large.hbs-component-header--border-bottom
    .hbs-component-header__inner:after {
    margin-right: 0;
    margin-left: 0;
  }
}
.hbs-component-header--large .hbs-component-header__title {
  font-size: 20px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
}
@media screen and (min-width: 300px) and (max-width: 1340px) {
  .hbs-component-header--large .hbs-component-header__title {
    font-size: calc(20px + 11.99 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1340px) {
  .hbs-component-header--large .hbs-component-header__title {
    font-size: 31.99px;
  }
}
@media (min-width: 1024px) {
  .hbs-global-align-center
    .hbs-component-header--large
    .hbs-component-header__title,
  .hbs-global-align-wide
    .hbs-component-header--large
    .hbs-component-header__title {
    font-size: 20px;
    font-family: Graphik, sans-serif, system-ui;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.03em;
  }
}
@media screen and (min-width: 1024px) and (min-width: 300px) and (max-width: 1340px) {
  .hbs-global-align-center
    .hbs-component-header--large
    .hbs-component-header__title,
  .hbs-global-align-wide
    .hbs-component-header--large
    .hbs-component-header__title {
    font-size: calc(20px + 11.99 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1024px) and (min-width: 1340px) {
  .hbs-global-align-center
    .hbs-component-header--large
    .hbs-component-header__title,
  .hbs-global-align-wide
    .hbs-component-header--large
    .hbs-component-header__title {
    font-size: 31.99px;
  }
}
.hbs-component-header--large p {
  margin-top: 12px;
}
.hbs-component-header--large .hbs-component-header__inner {
  margin-bottom: 18px;
  align-items: flex-end;
}
.hbs-multi-feed-tease-row__feed
  .hbs-component-header--large
  .hbs-component-header__inner {
  margin-bottom: 12px;
}
.hbs-component-header--anchored .hbs-component-header__inner {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--c-border-dark);
}
/*# sourceMappingURL=8a6f00b4784d40ac.css.map*/
