.hbs-search-box {
  --c-bg: #f6f4f2;
  --c-bg-transparent: rgba(246, 244, 242, 0);
  --c-bg-inverse: #222222;
  --c-bg-complementary: #ffffff;
  --c-solid: #000000;
  --c-solid-inverse: #ffffff;
  --c-spot: #a41034;
  --c-accent-dark: #85609f;
  --c-accent-light: #aac8eb;
  --c-text: rgba(0, 0, 0, 0.85);
  --c-text-link: #000000;
  --c-text-light: rgba(0, 0, 0, 0.66);
  --c-text-lighter: rgba(0, 0, 0, 0.55);
  --c-border-dark: rgba(0, 0, 0, 0.45);
  --c-border: rgba(0, 0, 0, 0.34);
  --c-border-light: rgba(0, 0, 0, 0.08);
  --c-button-bg: #ffffff;
  --c-button-bg-subtle: rgba(255, 255, 255, 0.15);
  --c-button-bg-strong: #a41034;
  --c-submenu-bg: #ffffff;
  --c-highlight: #e80538;
  --c-outline: #a41034;
  --c-bg: #ffffff;
  --c-bg-transparent: rgba(255, 255, 255, 0);
  --c-bg-complementary: #f6f4f2;
  background-color: var(--c-bg);
  border: 1px solid var(--c-border);
  border-radius: 4px;
  color: var(--c-text);
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  transition: background-color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    border-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  z-index: 11;
}
.hbs-search-box .hbs-icon {
  height: 2.2em;
  width: 2.2em;
  margin-left: 5px;
}
.hbs-search-box:focus-within {
  border-color: rgba(0, 0, 0, 0);
  outline: 4px solid var(--c-outline);
}
[data-theme="white"] .hbs-search-box:focus-within {
  border-color: var(--c-border);
}
.hbs-search-box::placeholder {
  transition: color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}
.hbs-search-box.hbs-search-box--small .hbs-search-box__input {
  font-size: 16px;
  font-weight: 400;
}
.hbs-search-box.hbs-search-box--small .hbs-search-box__submit {
  padding: 0;
}
.hbs-search-box.hbs-search-box--small .hbs-search-box__submit .hbs-icon {
  height: 40px;
  width: 35px;
}
.hbs-search-box__dropdown--open .hbs-search-box {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.hbs-search-box__input {
  padding: 8px;
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  width: 100%;
}
.hbs-search-box__input::-webkit-search-cancel-button {
  height: 1.5em;
  width: 1.5em;
  -webkit-appearance: none;
  appearance: none;
  background-color: #f6f4f2;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8536 2.85355C13.0488 2.65829 13.0488 2.34171 12.8536 2.14645C12.6583 1.95118 12.3417 1.95118 12.1464 2.14645L7.5 6.79289L2.85355 2.14645C2.65829 1.95118 2.34171 1.95118 2.14645 2.14645C1.95118 2.34171 1.95118 2.65829 2.14645 2.85355L6.79289 7.5L2.14645 12.1464C1.95118 12.3417 1.95118 12.6583 2.14645 12.8536C2.34171 13.0488 2.65829 13.0488 2.85355 12.8536L7.5 8.20711L12.1464 12.8536C12.3417 13.0488 12.6583 13.0488 12.8536 12.8536C13.0488 12.6583 13.0488 12.3417 12.8536 12.1464L8.20711 7.5L12.8536 2.85355Z' fill='currentColor' fill-rule='evenodd' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}
@media (min-width: 600px) {
  .hbs-search-box__input::-webkit-search-cancel-button {
    margin-right: 5px;
  }
}
.hbs-search-box__input:focus {
  outline: none;
}
.hbs-search-box__input:focus::placeholder {
  color: var(--c-solid);
}
.hbs-search-box__input::placeholder {
  font-weight: 400;
}
.hbs-search-box__submit {
  padding-top: 12px;
  padding-bottom: 12px;
}
.hbs-search-box__submit .hbs-icon {
  padding: 8px;
}
@media not all and (hover: none) {
  .hbs-search-box__submit:hover {
    color: var(--c-spot);
    outline: none;
  }
}
.hbs-search-box__submit:focus:not(:hover) {
  outline: 4px solid var(--c-outline);
  outline-offset: 1px;
}
.hbs-search-box__submit:focus:not(:focus-visible) {
  outline: none;
}
.hbs-search-box__submit:focus:focus-visible {
  outline-offset: -7px;
}
/*# sourceMappingURL=98af877c47570306.css.map*/
