.hbs-footer {
  margin-top: auto;
}
.hbs-footer-primary-cta__link {
  cursor: pointer;
  text-decoration: none;
  color: var(--c-solid);
  transition: color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
  transition: background-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  position: relative;
}
@media not all and (hover: none) {
  .hbs-footer-primary-cta__link:hover {
    color: var(--c-solid);
    outline: none;
  }
}
.hbs-footer-primary-cta__link a {
  text-decoration: none;
}
.hbs-footer-primary-cta__link a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.hbs-footer-primary-cta__link svg {
  pointer-events: none;
}
.hbs-footer-primary-cta__link .hbs-text-h3 {
  transform: none;
  margin-left: -0.06em;
}
.hbs-footer-primary-cta__link:focus:not(:hover) {
  outline-offset: -8px !important;
}
@media not all and (hover: none) {
  .hbs-footer-primary-cta__link:hover {
    --c-bg: #000000;
    outline: none;
  }
  .hbs-footer-primary-cta__link:hover .hbs-footer-primary-cta__icon {
    transform: rotate(-45deg);
  }
}
.hbs-footer-primary-cta__link:focus:not(:hover) {
  outline: 4px solid var(--c-outline);
  outline-offset: 1px;
}
.hbs-footer-primary-cta__link:focus:not(:focus-visible) {
  outline: none;
}
@media (min-width: 1024px) {
  .hbs-footer-primary-cta__link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.hbs-footer-primary-cta__wrapper {
  display: flex;
  flex-flow: row wrap;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
  align-items: center;
}
@media (min-width: 600px) {
  .hbs-footer-primary-cta__wrapper {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
.hbs-footer-primary-cta__title {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  font-size: 16px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: -0.02em;
  font-weight: 600;
  margin-bottom: 0;
}
@media (min-width: 600px) {
  .hbs-footer-primary-cta__title {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
@media screen and (min-width: 300px) and (max-width: 1340px) {
  .hbs-footer-primary-cta__title {
    font-size: calc(16px + 4 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1340px) {
  .hbs-footer-primary-cta__title {
    font-size: 20px;
  }
}
@media (min-width: 600px) {
  .hbs-footer-primary-cta__title {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .hbs-footer-primary-cta__title {
    width: 25%;
  }
}
.hbs-footer-primary-cta__description {
  font-size: 16px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: -0.02em;
  padding-left: 8px;
  padding-right: 8px;
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 300px) and (max-width: 1340px) {
  .hbs-footer-primary-cta__description {
    font-size: calc(16px + 4 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1340px) {
  .hbs-footer-primary-cta__description {
    font-size: 20px;
  }
}
@media (min-width: 600px) {
  .hbs-footer-primary-cta__description {
    padding-left: 1vw;
    padding-right: 1vw;
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .hbs-footer-primary-cta__description {
    width: 75%;
  }
}
.hbs-footer-primary-cta__icon {
  height: 1em;
  width: 1em;
  margin-left: 18px;
  transition: transform 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}
.hbs-footer__content {
  padding-top: var(--block-spacing-md);
  padding-bottom: var(--block-spacing-lg);
}
.hbs-footer__content-wrapper {
  display: flex;
  flex-flow: row wrap;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
}
@media (min-width: 600px) {
  .hbs-footer__content-wrapper {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
.hbs-footer-block {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
@media (min-width: 600px) {
  .hbs-footer-block {
    padding-left: 1vw;
    padding-right: 1vw;
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .hbs-footer-block {
    width: 25%;
  }
}
.hbs-footer-block:not(:last-child) {
  margin-bottom: 24px;
}
@media (min-width: 600px) {
  .hbs-footer-block:not(:last-child) {
    margin-bottom: 36px;
  }
}
@media (min-width: 1024px) {
  .hbs-footer-block:not(:last-child) {
    margin-bottom: 0;
  }
}
.hbs-footer-block__heading {
  font-size: 16px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: -0.02em;
  font-weight: 600;
  line-height: 1;
}
@media screen and (min-width: 300px) and (max-width: 1340px) {
  .hbs-footer-block__heading {
    font-size: calc(16px + 4 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1340px) {
  .hbs-footer-block__heading {
    font-size: 20px;
  }
}
.hbs-footer-block:first-child .hbs-footer-block__heading {
  max-width: 6ch;
}
.hbs-footer-block:first-child .hbs-footer-block__heading a {
  cursor: pointer;
  text-decoration: none;
  color: var(--c-solid);
  transition: color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}
@media not all and (hover: none) {
  .hbs-footer-block:first-child .hbs-footer-block__heading a:hover {
    color: var(--c-highlight);
    outline: none;
  }
}
.hbs-footer-block:first-child .hbs-footer-block__heading a:focus:not(:hover) {
  outline: 4px solid var(--c-outline);
  outline-offset: 1px;
}
.hbs-footer-block:first-child
  .hbs-footer-block__heading
  a:focus:not(:focus-visible) {
  outline: none;
}
.hbs-footer-block__title {
  font-weight: 400;
  font-weight: 600;
}
.hbs-footer-block-item,
.hbs-footer-block__title {
  font-size: 16px;
  font-family: Graphik, sans-serif, system-ui;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}
.hbs-footer-block-item {
  font-weight: 400;
}
.hbs-footer-block-item .hbs-social-media-links {
  margin-bottom: 0;
}
.hbs-footer-block-item a {
  cursor: pointer;
  color: var(--c-solid);
  -webkit-text-decoration-color: var(--c-border-dark);
  text-decoration-color: var(--c-border-dark);
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  transition: color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    -webkit-text-decoration-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  transition: text-decoration-color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  transition: text-decoration-color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    -webkit-text-decoration-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}
@media not all and (hover: none) {
  .hbs-footer-block-item a:hover {
    color: var(--c-spot);
    -webkit-text-decoration-color: var(--c-solid);
    text-decoration-color: var(--c-solid);
    outline: none;
  }
}
.hbs-footer-block-item a:focus:not(:hover) {
  outline: 4px solid var(--c-outline);
  outline-offset: 1px;
}
.hbs-footer-block-item a:focus:not(:focus-visible) {
  outline: none;
}
.hbs-footer-block-item--social-icons {
  margin-top: 8px;
}
.hbs-footer__legal-wrapper {
  padding-top: var(--block-spacing-sm);
  padding-bottom: var(--block-spacing-sm);
  display: flex;
  flex-flow: row wrap;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
  align-items: baseline;
  position: relative;
}
@media (min-width: 600px) {
  .hbs-footer__legal-wrapper {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
.hbs-footer__legal-wrapper:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  width: auto;
  margin-right: 16px;
  margin-left: 16px;
  border-bottom: 1px solid;
  color: var(--c-border-light);
  pointer-events: none;
}
@media (min-width: 600px) {
  .hbs-footer__legal-wrapper:after {
    margin-right: 2vw;
    margin-left: 2vw;
  }
}
.hbs-footer__copyrights {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  font-size: 14px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 400;
  line-height: 1.2;
  color: var(--c-text-light);
}
@media (min-width: 600px) {
  .hbs-footer__copyrights {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
.hbs-footer__copyrights b,
.hbs-footer__copyrights strong {
  font-weight: 600;
}
@media (min-width: 600px) {
  .hbs-footer__copyrights {
    margin-bottom: 0;
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .hbs-footer__copyrights {
    width: 25%;
  }
}
.hbs-footer__legal-nav {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
@media (min-width: 600px) {
  .hbs-footer__legal-nav {
    padding-left: 1vw;
    padding-right: 1vw;
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .hbs-footer__legal-nav {
    width: 75%;
  }
}
.hbs-footer-legal-item {
  font-size: 14px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 400;
  line-height: 1.2;
  cursor: pointer;
  color: var(--c-text-light);
  -webkit-text-decoration-color: rgba(0, 0, 0, 0);
  text-decoration-color: rgba(0, 0, 0, 0);
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  transition: color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    -webkit-text-decoration-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  transition: text-decoration-color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  transition: text-decoration-color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    color 0.2s cubic-bezier(0.65, 0, 0.35, 1),
    -webkit-text-decoration-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  margin-bottom: 8px;
  margin-right: 12px;
}
.hbs-footer-legal-item b,
.hbs-footer-legal-item strong {
  font-weight: 600;
}
@media not all and (hover: none) {
  .hbs-footer-legal-item:hover {
    color: var(--c-spot);
    -webkit-text-decoration-color: var(--c-text);
    text-decoration-color: var(--c-text);
    outline: none;
  }
}
.hbs-footer-legal-item:focus:not(:hover) {
  outline: 4px solid var(--c-outline);
  outline-offset: 1px;
}
.hbs-footer-legal-item:focus:not(:focus-visible) {
  outline: none;
}
@media (min-width: 1024px) {
  .hbs-footer-legal-item {
    margin-bottom: 0;
  }
}
.hbs-footer-discrimination-notice {
  font-size: 14px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 400;
  line-height: 1.2;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  color: var(--c-text-light);
  margin-top: 18px;
}
.hbs-footer-discrimination-notice b,
.hbs-footer-discrimination-notice strong {
  font-weight: 600;
}
@media (min-width: 600px) {
  .hbs-footer-discrimination-notice {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
.hbs-footer__cta-card {
  display: flex;
  flex-flow: row wrap;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
  align-items: baseline;
}
@media (min-width: 600px) {
  .hbs-footer__cta-card {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
.hbs-footer__cta-card-inner {
  width: 100%;
  padding: 16px 8px;
}
@media (min-width: 600px) {
  .hbs-footer__cta-card-inner {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  .hbs-footer__cta-card-inner .hbs-global-align-full .hbs-cta-card {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-flow: row wrap;
    margin-left: -8px;
    margin-right: -8px;
    width: calc(100% + 16px);
  }
}
@media (min-width: 600px) and (min-width: 600px) {
  .hbs-footer__cta-card-inner .hbs-global-align-full .hbs-cta-card {
    margin-left: -1vw;
    margin-right: -1vw;
    width: calc(100% + 2vw);
  }
}
@media (min-width: 1024px) {
  .hbs-footer__cta-card-inner {
    margin-left: 25%;
    margin-right: 0;
    width: 56.25%;
  }
}
@media (min-width: 1340px) {
  .hbs-footer__cta-card-inner {
    width: 50%;
  }
}
/*# sourceMappingURL=e83bbb766b9440ff.css.map*/
