.hbs-hero-statement {
  position: relative;
  flex-direction: column;
}
.hbs-hero-statement.hbs-hero-statement--card
  .hbs-media-asset__modal-trigger:after,
.hbs-hero-statement.hbs-hero-statement--card
  .hbs-media-asset__modal-trigger:before,
.hbs-hero-statement.hbs-hero-statement--flat
  .hbs-media-asset__modal-trigger:after,
.hbs-hero-statement.hbs-hero-statement--flat
  .hbs-media-asset__modal-trigger:before {
  visibility: hidden;
}
.hbs-hero-statement.hbs-hero-statement--card
  .hbs-media-asset__kaltura-text-prompt,
.hbs-hero-statement.hbs-hero-statement--flat
  .hbs-media-asset__kaltura-text-prompt {
  display: none;
}
.hbs-hero-statement.hbs-hero-statement--card .hbs-media-asset__kaltura-duration,
.hbs-hero-statement.hbs-hero-statement--flat
  .hbs-media-asset__kaltura-duration {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.hbs-hero-statement.hbs-hero-statement--card
  .hbs-media-asset__kaltura-duration.focusable:active,
.hbs-hero-statement.hbs-hero-statement--card
  .hbs-media-asset__kaltura-duration.focusable:focus,
.hbs-hero-statement.hbs-hero-statement--flat
  .hbs-media-asset__kaltura-duration.focusable:active,
.hbs-hero-statement.hbs-hero-statement--flat
  .hbs-media-asset__kaltura-duration.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.hbs-global-align-full .hbs-hero-statement {
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px;
  margin-right: -8px;
  width: calc(100% + 16px);
  flex-direction: column;
}
@media (min-width: 600px) {
  .hbs-global-align-full .hbs-hero-statement {
    margin-left: -1vw;
    margin-right: -1vw;
    width: calc(100% + 2vw);
  }
}
.hbs-hero-statement[data-theme] {
  background-color: rgba(0, 0, 0, 0);
}
.hbs-hero-statement .hbs-hero-statement__media {
  overflow: hidden;
}
.hbs-hero-statement .hbs-hero-statement__title {
  font-size: 24px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 600;
  line-height: 1.05;
  letter-spacing: -0.035em;
  transform: translateX(-0.06em);
  margin-bottom: 18px;
}
@media screen and (min-width: 300px) and (max-width: 1340px) {
  .hbs-hero-statement .hbs-hero-statement__title {
    font-size: calc(24px + 21 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1340px) {
  .hbs-hero-statement .hbs-hero-statement__title {
    font-size: 45px;
  }
}
.hbs-hero-statement .hbs-hero-statement__subhead {
  font-size: 16px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.01em;
  display: block;
  margin-bottom: 24px;
  max-width: 30em;
}
.hbs-hero-statement .hbs-hero-statement__subhead:last-child {
  margin-top: auto;
  margin-bottom: 0;
}
.hbs-hero-statement .hbs-hero-statement__subhead p {
  margin-bottom: 18px;
}
.hbs-hero-statement.hbs-hero-statement--card .hbs-hero-statement__content {
  width: 100%;
}
.hbs-hero-statement.hbs-hero-statement--card .hbs-hero-statement__card-inner {
  padding: 4vw;
  background-color: var(--c-bg);
  position: relative;
}
.hbs-hero-statement.hbs-hero-statement--card .hbs-hero-statement__card,
.hbs-hero-statement.hbs-hero-statement--card .hbs-hero-statement__media {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}
@media (min-width: 600px) {
  .hbs-hero-statement.hbs-hero-statement--card .hbs-hero-statement__card,
  .hbs-hero-statement.hbs-hero-statement--card .hbs-hero-statement__media {
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .hbs-hero-statement.hbs-hero-statement--card .hbs-hero-statement__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    z-index: 20;
  }
  .hbs-hero-statement.hbs-hero-statement--card .hbs-hero-statement__card {
    padding: 0;
    margin-left: -1vw;
  }
  .hbs-hero-statement.hbs-hero-statement--card .hbs-hero-statement__card-inner {
    padding: 2vw;
  }
}
@media (min-width: 1024px) {
  .hbs-hero-statement.hbs-hero-statement--card .hbs-hero-statement__content {
    width: calc(37.5% + 2vw);
  }
  .hbs-hero-statement.hbs-hero-statement--card .hbs-hero-statement__card-inner {
    display: flex;
    flex-direction: column;
    min-height: 450px;
  }
  .hbs-hero-statement.hbs-hero-statement--card .hbs-hero-statement__cta {
    margin-top: auto;
  }
}
@media (min-width: 1340px) {
  .hbs-hero-statement.hbs-hero-statement--card .hbs-hero-statement__content {
    width: 37.5%;
  }
}
@media (min-width: 1024px) {
  .hbs-hero-statement.hbs-hero-statement--flat {
    display: flex;
    flex-direction: row-reverse;
  }
  .hbs-hero-statement.hbs-hero-statement--flat.hbs-hero-statement--image-right {
    flex-direction: row;
  }
}
.hbs-hero-statement.hbs-hero-statement--flat .hbs-hero-statement__content,
.hbs-hero-statement.hbs-hero-statement--flat .hbs-hero-statement__media {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}
@media (min-width: 600px) {
  .hbs-hero-statement.hbs-hero-statement--flat .hbs-hero-statement__content,
  .hbs-hero-statement.hbs-hero-statement--flat .hbs-hero-statement__media {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
.hbs-hero-statement.hbs-hero-statement--flat .hbs-hero-statement__media {
  margin-top: 24px;
}
.hbs-hero-statement.hbs-hero-statement--flat .hbs-hero-statement__title {
  font-size: 31.99px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.03em;
  transform: translateX(-0.06em);
}
@media screen and (min-width: 300px) and (max-width: 1340px) {
  .hbs-hero-statement.hbs-hero-statement--flat .hbs-hero-statement__title {
    font-size: calc(31.99px + 31.97 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1340px) {
  .hbs-hero-statement.hbs-hero-statement--flat .hbs-hero-statement__title {
    font-size: 63.96px;
  }
}
.hbs-global-align-wide
  .hbs-hero-statement.hbs-hero-statement--flat
  .hbs-hero-statement__title {
  font-size: 24px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 600;
  line-height: 1.05;
  letter-spacing: -0.035em;
  transform: translateX(-0.06em);
}
@media screen and (min-width: 300px) and (max-width: 1340px) {
  .hbs-global-align-wide
    .hbs-hero-statement.hbs-hero-statement--flat
    .hbs-hero-statement__title {
    font-size: calc(24px + 21 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1340px) {
  .hbs-global-align-wide
    .hbs-hero-statement.hbs-hero-statement--flat
    .hbs-hero-statement__title {
    font-size: 45px;
  }
}
.hbs-hero-statement.hbs-hero-statement--flat .hbs-hero-statement__subhead {
  font-size: 16px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: -0.02em;
  color: var(--c-text-light);
  max-width: 30em;
  margin-top: auto;
}
@media screen and (min-width: 300px) and (max-width: 1340px) {
  .hbs-hero-statement.hbs-hero-statement--flat .hbs-hero-statement__subhead {
    font-size: calc(16px + 4 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1340px) {
  .hbs-hero-statement.hbs-hero-statement--flat .hbs-hero-statement__subhead {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .hbs-global-align-wide
    .hbs-hero-statement.hbs-hero-statement--flat
    .hbs-hero-statement__subhead {
    font-size: 16px;
    font-family: Graphik, sans-serif, system-ui;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.01em;
  }
}
@media (min-width: 1024px) {
  .hbs-hero-statement.hbs-hero-statement--flat .hbs-hero-statement__content,
  .hbs-hero-statement.hbs-hero-statement--flat .hbs-hero-statement__media {
    width: 50%;
    margin-top: 0;
  }
  .hbs-hero-statement.hbs-hero-statement--flat .hbs-hero-statement__card,
  .hbs-hero-statement.hbs-hero-statement--flat .hbs-hero-statement__content {
    display: flex;
  }
  .hbs-hero-statement.hbs-hero-statement--flat .hbs-hero-statement__card-inner {
    flex-direction: column;
    display: flex;
  }
  .hbs-hero-statement.hbs-hero-statement--flat .hbs-hero-statement__subhead {
    font-size: 16px;
    font-family: Graphik, sans-serif, system-ui;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: -0.02em;
    color: var(--c-text-light);
    max-width: 30em;
    margin-top: auto;
  }
}
@media screen and (min-width: 1024px) and (min-width: 300px) and (max-width: 1340px) {
  .hbs-hero-statement.hbs-hero-statement--flat .hbs-hero-statement__subhead {
    font-size: calc(16px + 4 * (100vw - 300px) / 1040);
  }
}
@media screen and (min-width: 1024px) and (min-width: 1340px) {
  .hbs-hero-statement.hbs-hero-statement--flat .hbs-hero-statement__subhead {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .hbs-hero-statement.hbs-hero-statement--flat .hbs-cta-list-item:last-child {
    border-bottom: 1px solid var(--c-border-light);
  }
}
.hbs-hero-statement .hbs-hero-statement__trigger-container {
  margin-top: auto;
}
.hbs-hero-statement .hbs-hero-statement__modal-trigger {
  background-image: none;
  min-height: 65px;
  position: relative;
  display: flex;
  align-items: center;
}
.hbs-hero-statement .hbs-hero-statement__modal-trigger:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 65px;
  width: 65px;
  background-color: #fff;
  border-radius: 4px;
  transition: background-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  background-color: var(--c-spot);
  margin: 0;
}
.hbs-hero-statement .hbs-hero-statement__modal-trigger:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 0;
  border: 10px solid rgba(0, 0, 0, 0);
  border-left: 15px solid var(--c-bg);
  top: 50%;
  left: 26.5px;
  bottom: auto;
  transform: translateY(-50%);
  margin: 0;
}
@media not all and (hover: none) {
  .hbs-hero-statement .hbs-hero-statement__modal-trigger:hover {
    outline: none;
  }
  .hbs-hero-statement .hbs-hero-statement__modal-trigger:hover:before {
    background-color: var(--c-text);
  }
  .hbs-hero-statement .hbs-hero-statement__modal-trigger:hover:after {
    border-left-color: var(--c-bg);
  }
}
.hbs-hero-statement .hbs-hero-statement__modal-trigger:focus:not(:hover) {
  outline: 4px solid var(--c-outline);
  outline-offset: 1px;
}
.hbs-hero-statement
  .hbs-hero-statement__modal-trigger:focus:not(:focus-visible) {
  outline: none;
}
.hbs-hero-statement
  .hbs-hero-statement__modal-trigger
  .hbs-hero-statement__kaltura-text-prompt {
  position: relative;
  z-index: 10;
}
.hbs-hero-statement
  .hbs-hero-statement__modal-trigger
  .hbs-hero-statement__kaltura-duration {
  color: var(--c-text-lighter);
  margin-left: 2px;
  position: relative;
  z-index: 10;
}
.hbs-hero-statement
  .hbs-hero-statement__modal-trigger
  .hbs-hero-statement__kaltura-text {
  font-size: 16px;
  font-family: Graphik, sans-serif, system-ui;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-shadow: none;
  position: relative;
  margin-left: 78px;
  color: var(--c-text);
  z-index: 1;
  pointer-events: none;
}
.hbs-hero-statement .hbs-hero-statement__media .hbs-media-asset {
  margin: 0;
}
.hbs-hero-statement
  .hbs-hero-statement__media.hbs-hero-statement__media--kaltura
  .hbs-media-asset__modal-trigger {
  margin-top: auto;
}
.hbs-hero-statement
  .hbs-hero-statement__media.hbs-hero-statement__media--kaltura
  button:focus {
  outline-offset: -8px !important;
}
.hbs-hero-statement .hbs-hero-statement__media .backup-image.hidden,
.hbs-hero-statement .hbs-hero-statement__media .hbs-media-asset--video.hidden {
  display: none;
}
/*# sourceMappingURL=f7c4187b684d58d0.css.map*/
