.c-childmasthead__otherlink {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 90px;
	border-bottom: 1px solid var(--color-shade);
}
 {
}
.c-childmasthead_otherlink__cta {
	@mixin t-pill;
}

.c-childmasthead__otherlink__logo-link {
	max-width: 55%;
}
