/* -----------------------------------------------------------------------------
 *
 * Component: Programs Item Interactions
 *
 * ----------------------------------------------------------------------------- */

.c-programs-item__title-link .c-programs-item__title {
	@mixin a-line-animation 2px;
}
.c-programs-item__title-link:hover .c-programs-item__title {
	@mixin a-line-animation-active 2px;
}
